
// Размеры
$size--max-width: 1200px; // Максимальная ширина

// Скорости транзакций
$transition--fast: .15s;

// Цвета
$color--blue: #2196f3;
$color--red: #ff4b4b;
$color--gray: gray;
$color--light-gray: #f7f7f7;
